@model Contoso.ViewModels.DepartmentDTO

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>DepartmentDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @if (ViewBag.IdentityRole != null && ViewBag.IdentityRole.Equals("Admin")) { Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }); }
    @Html.ActionLink("Back to List", "Index")
</p>
