@model IEnumerable<Contoso.ViewModels.BaseDepartmentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = item.Name/* id=item.PrimaryKey */ })
            @Html.ActionLink("Delete", "Delete", new { name = item.Name /* id=item.PrimaryKey */ })
            @if (ViewBag.IdentityRole != null && ViewBag.IdentityRole.Equals("Admin")) { Html.ActionLink("Edit", "Edit", new { name = item.Name/* id=item.PrimaryKey */ }); }
            @Html.ActionLink("Details", "Detail", new { name = item.Name /* id=item.PrimaryKey */ })
            @if (ViewBag.IdentityRole != null && ViewBag.IdentityRole.Equals("Admin")) { Html.ActionLink("Delete", "Delete", new { name = item.Name /* id=item.PrimaryKey */ }); }
        </td>

    </tr>
            }

</table>
<p>@if (ViewBag.IdentityRole != null && ViewBag.IdentityRole.Equals("Admin")) { Html.ActionLink("Create new department", "Create"); }</p>
